
/**
 * @file
 * Sample stylesheet for skinr integration.
 *
 * Created by: Topsitemakers
 * http://www.topsitemakers.com/
 */

.red {
  color: red;
}
.orange {
  color: orange;
}
.yellow {
  color: yellow;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.violet {
  color: violet;
}
